html {
    scroll-behavior: smooth;
  }
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.container{
    width: 100%;
    background: #11263B;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 2;
}
label{
    font-size: 2em;
}
label span{
    color:yellow;
}
nav .ul{
    display: flex;
    list-style: none;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav .ul li{
    margin-left: 1rem;
}
nav .ul li a{
    text-decoration: none;
    color: #fff;
}
.ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(32, 196, 218);
    display: block;
    margin:auto;
    transition: .5s;
}
.ul li a:hover::after{
    width: 100%;
}
/* section one style sheet */
.sec-one{
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    margin:auto;
    padding-top: 6em;
}
.main{
    flex: 1;
    width: 100%;
    background: #140F03;
    border-bottom-right-radius: 4em;
    margin:auto;
    margin-left: 4em;
    padding: 2rem;
    position: relative;
}
.main h1{
    font-size: 2em;
    color:#fff;
}
.top{
    width: 300px;
    height: 300px;
    background-color:#140F03;
    border-bottom-right-radius: 6em;
}
.top::before{
    content: "";
    width: 300px;
    height: 200px;
    display: block;
    background-color:#00406B;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 9em;
}

.main p{
    line-height: 1.5em;
    color: #777;
}
.m-sec{
    flex: 1;
    width: 100%;
    margin-top: 0;
    height: 60vh;
    background: url(astro.png);
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.L-side{
    width: 200px;
    height: 200px;
    background:#11263B;
    border-radius: 20px;
    position: absolute;
    top: 2em;
    left: 1em;
    z-index: -1;
}
.R-side{
    width: 200px;
    height: 200px;
    background:#11263B;
    position: absolute;
    bottom: 0;
    right: 3em;
    border-radius: 20px;
    transform: rotate(45deg);
    z-index: -1;
}
.L-side:after{
    content: "";
    width: 100%;
    height: 10px;
    background:#11263B;
    display: block;
    position: absolute;
    top: 3em;
    left: 4em;
}
.R-side:after{
    content: "";
    width: 100%;
    height: 10px;
    background:#11263B;
    display: block;
    position: absolute;
    top: 3em;
    left: 4em;
}
/* section two style sheet */
.sec-two{
    width: 100%;
    background: #11263B;
    padding: 3em;
    display: flex;
}
.wo{
    flex: 1;
   width: 100%;
   display: flex;
   justify-content: center;
}
.wo img{
    width: 400px;
    height: 400px;
}
.woo{
    flex: 1;
    margin-right: 4em;
    color: #fff;
}
.woo h1{
   font-size: 2em;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.woo p{
    line-height: 1.5em;
    font-family: sans-serif;
    color: #777;
}
.btn{
    padding: 10px 40px;
    font-size: 1.4em;
    border-radius: 20px;
    outline:none;
    border:none;
    cursor: pointer;
}
/* icon */
.icon{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5em; */
}
.icon div{
    margin-left: 2rem;
    cursor: pointer;
}
.icon div:hover {
   background: #fff;
   box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
   border-radius: 20px;
}
.icon .blue{
    color: #406EEC;
}
.icon div h3{
    padding: .5em;
}
.icon .son{
    margin-top: 4em;
    margin-left: 5em;
}
.icon div i{
    display: grid;
    justify-content: center;
    font-size: 2em;
    padding: .5em;
}
.icon div i:hover{
    background:#239BEB;
    color: #fff;
}
.sec-three{
    width: 100%;
    display: flex;
    justify-content: center;
}
.up{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}
.row{
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
    padding: 2em;
    border-radius: 2em;
}
.row h2{
    text-align: center;
    color:#11263B;
}
.row p{
   word-break: break-all;
   text-align: center;
   line-height: 1.3em;
}
.den{
    margin-top: 1em;
    margin-left: 1em;
    color: #fff;
    background:#11263B;
    transition: .5s;
}
.den:hover{
   padding-right: 2.5em;
}
/*  */
.t{
    margin-top: 2em;
}
/* small center */
.name{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 8px solid #11263B;
    border-bottom: 8px solid #11263B;
    padding: 2em;
}
.firs{
    background: #11263B;
    padding: .5em 1em;
    border-radius: 20px;
    color: yellow;
}
.firs h1{
    font-size: 2em;
}
.second h2{
    font-size: 2em;
}
.thir{
    margin-right: 3em;
}
.thir .cen{
    margin-top: 1em;
    margin-left: 1em;
    color: #11263B;
    border: 2px solid #11263B;
    background:#fff;
    transition: .5s;
    box-shadow: 5px 10px;
}
/* section four style sheet */
.sec-four{
    width: 100%;
    /* display: grid;
    justify-content: center; */
}
.sec-four h1{
    text-align: center;
}
.fou{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin:auto;
    place-items: center;
    grid-gap: 2em;
}
.out::after{
   content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo fugit quibusdam beatae recusandae";
   width: 100%;
   height: 0;
   background: #11263B;
   display: flex;
   position: absolute;
   justify-content: center;
   align-items: center;
   color: #fff;
   text-align: center;
   bottom: 0;
   left: 0;
   transition: .5s ease-in-out;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.out:hover::after{
    height: 18vh;
}
.out{
    cursor: pointer;
    margin:auto;
    position: relative;
}
.out img{
    width: 300px;
    height: 300px;
}
/* section five style sheet */
.sec-five{
    width: 100%;
    margin:auto;
}
.sec-five h1{
    text-align: center;
}
.img img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.this{
    width: 80%;
    margin:auto;
}
.line{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: #2C3031;
    padding: 1.5em;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 2em;
    /* color: #fff; */
}
.pagan{
    margin-left: 2em;
}
.date{
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .1em;
    color: #7A8587;
    margin-bottom: .4em;
}
.pagan h2{
    margin: 0 0 .3em;
    color: #B6EAFF;
    font-size: 1.8em;
}
.pagan p{
    color:#7A8587;
}
/* section six style sheet */
.sec-six{
    width: 100%;
    display: flex;
    justify-content: center;
}
.six{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 2rem;
}
.si{
    border: 1px solid #777;
    padding: 2em;
}
.si h2{
    font-size: 1.5em;
    color:#66BA9A;
    font-family: 'Courier New', Courier, monospace;
}
.slow{
    color:#11263B;
}
/* section seven style sheet */
.sec-seven{
    width: 100%;
    display: grid;
    place-items: center;
}
.sec-seven h1{
    text-align: center;
    font-size: 1.5em;
    color:#66BA9A;
    font-family: 'Courier New', Courier, monospace;
}
form{
    width: 50%;
    border: 1px solid #777;
    display: grid;
    place-items: center;
}
form input{
    width: 80%;
    margin-top: 2em;
    padding: 10px 0;
    outline:none;
    padding-left: 1em;
    font-size: 1em;
}
form button{
    margin-left: 1em;
    width: 80%;
    outline:none;
    border:none;
    background: #66BA9A;
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px;
    padding: .5em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
textarea{
    outline:none;
    margin-top: 2em;
    font-size: 1.5em;
    width: 80%;
    /* margin-bottom: 2em; */
}